html {
  background-color: #25211e;
  font-family: Futura,"Helvetica","Arial",sans-serif;
  text-transform: uppercase;
}

.all-analytics {
  align-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.all-analytics span {
  font-size: 30px;
  letter-spacing: 7px;
  margin-bottom: 15px;
}

.analytics-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px auto auto auto;
  width: 65vw;
}

.analytics-container form {
  display: flex;
  flex-direction: row;
}

.analytics-graph {
  width: 80%;
}

.analytics-line-chart {
  background-color: #25211e;
  border-top: 1px solid gray;
  margin-bottom: 20px;
  max-height: 50vh;
}

.checkbox-container {
}

.checkbox-container label {
  margin-right: 15px;
}

.enter-zipcode {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10vh 10vw;
  width: 45vw;
}

.enter-zipcode button {
  background-color: #25211e;
  border: 1px solid #C1B497;
  border-radius: 8px;
  color: #C1B497;
  font-family: Futura,"Helvetica","Arial",sans-serif;
  font-size: 18px;
  margin-top: 4vh;
  padding: 15px 40px;
  text-transform: uppercase;
  transition: 0.3s;
}

.enter-zipcode button:hover {
  background-color: #C1B497;
  color: #25211e;
  cursor: pointer;
}

.enter-zipcode form {
  align-content: center;
  align-items: center;
  text-align: center;
}

.enter-zipcode h2 {
  align-content: center;
  align-items: center;
  color: #C1B497;
  display: block;
  font-family: Futura,"Helvetica","Arial",sans-serif;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

.enter-zipcode h3 {
  color: #fff;
  display: block;
  font-family: Futura,"Helvetica","Arial",sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 5px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.enter-zipcode input {
  background-color: #c4c4c4;
  border: 1px solid #C1B497;
  border-radius: 10px;
  font-family: Futura,"Helvetica","Arial",sans-serif;
  font-size: 16px;
  padding: 12px 10px;
  width: 97.5%;
}

.error {
  display: none;
}

.filter-criteria {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.filter-criteria label {
  font-size: 12px;
  padding-bottom: 6px;
  padding-top: 7px;
}

.filter-criteria span {
  border-right: 1px solid white;
  font-size: 15px;
  font-style: italic;
  font-weight: 100;
  margin-right: 1%;
  padding-right: 1%;
}

.filters {
  background-color: grey;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 1%;
}

.filters button {
  background-color: #25211E;
  border: 1px solid #C1B497;
  border-radius: 5px;
  color: #C1B497;
  font-family: Futura,"Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin: auto;
  padding: 7px 30px;
  text-transform: uppercase;
  transition: 0.3s;
}

.filters button:hover {
  background-color: #C1B497;
  color: #25211e;
  cursor: pointer;
}

.header {
  background-color: #25211e;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.header span {
  color: white;
  font-size: 13px;
  font-weight: 100;
  height: 100%;
  letter-spacing: 5px;
  margin: auto 20px;
  text-align: center;
  transition: 0.3s;
}

.header span:hover,
.header span:focus {
  color: red;
  cursor: pointer;
}

.header-text {
  display: flex;
  flex-direction: column;
  margin: 10px 2vw;
}

.header-text h2 {
  color: #C1B497;
  display: block;
  font-family: Futura,"Helvetica","Arial",sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

.header-text h3 {
  color: white;
  display: block;
  font-family: Futura,"Helvetica","Arial",sans-serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 5px;
  margin: 3px 0 2vh 0;
}

.hidden {
  display: none;
}

.menu-about {
  letter-spacing: 5px;
}

.menu-item {
  flex-direction: row;
  margin-bottom: 20px;
}

.new-year {
  color: white;
  font-family: Palantino;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

.new-year-container {
  border-left: 1px solid white;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.new-year-container:hover {
  cursor: pointer;
}

.new-zip-input {
  border-radius: 5px;
  font-family: Palantino;
  font-size: 13px;
  font-style: italic;
  margin: auto 5px;
  text-align: center;
  width: 50px;
}

.sales-count-chart {
  background-color: #25211e;
  border-top: 1px solid gray;
  margin-top: 30px;
  max-height: 50vh;
}

.select-area {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  padding: auto;
  width: 100vw;
}

.year-input {
  border-radius: 5px;
  font-family: Palantino;
  font-size: 13px;
  font-style: italic;
  margin: auto 5px;
  text-align: center;
  width: 30px;
}

.zip-error {
  color: red;
  font-family: Futura,"Helvetica","Arial",sans-serif;
  font-size: 15px;
  font-weight: 100;
  height: 20px;
  letter-spacing: 5px;
  margin-top: 5vh;
  text-align: center;
  text-transform: uppercase;
}

.zip-input {
  font-style: italic;
}
